/* 
CSS 
Cascading Style Sheet ou feuille de style en cascade
*/
/* commentaire en CSS */


/* 
sélecteur css : identifiant qui permet de sélectionner le ou les éléments qui seront imapctés 
par le style css écrits dans sa déclaration

sélecteur{
    propriété css: valeur;
    propriété css: valeur valeur valeur;
    propriété css: valeur;
    sous-propriété css: valeur;
    sous-propriété css: valeur;
    sous-propriété css: valeur;
}

*/

/* 
pour sélectionner l'élément div de la page definitions3.html qui possède l'id "page" 
il faut utiliser le sélecteur suivant
*/
/* # indique que l'élément nommé à la suite possède un attribut id */
/* page est la valeur de cet élément */
/* la balise est écrite ainsi : <div id="page"></div> */
/* div id="page"  => div#page   */

/* Déclarations générales */

    /*
    le sélecteur * est un sélecteur "magique"
    */

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a,
a:visited{
    color: #070707;
}

h1{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 45px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    clear: both;
}

/* déclaration classes et id */

.top{
    position: fixed;
    bottom: 25px;
    right: 5px;
}

#page,
#table-matieres{
    max-width: 800px;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    padding: 10px;
    margin-top:5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#table-matieres{
    font-size: 0.9rem;
}

#table-matieres h2{
    margin: 0;
}

#table-matieres ul{
    column-count: 2;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

/* Concept D.R.Y. Don't Reapeat Yourself */

.img-article{
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}

.img-bg-dark{
    background-color: #282828;
}

.gauche{
    float: left;
    margin-right: 5px;
}

.droite{
    float: right;
    margin-left: 5px;
}

.footer-center{
    text-align: center;
}

/* Déclaration de structure */

body{
    margin: 0;
    padding: 0;
    background-color: rgb(234, 234, 234);
    /* background-color: #eaeaea; */
    color: #282828;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

header,
footer{
    background-color: #282828;
    color: white;
}

footer{
    padding: 40px 0;
    /*
    padding_top: 40px;
    padding_right: 0px;
    padding_bottom: 40px;
    padding_left: 0px;
    */
}